#pageproject {
    /* position: relative; */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#pageproject .top-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
}

#pageproject .top-container .logo-container {
    width: 300px;
    margin: 0px 30px;
}

#pageproject .horizontal-line {
    background-color: #fff;
    height: 10px;
    width: 100%;
    /* margin: 0px 0px 0px 0px; */
}

#pageproject .horizontal-line.half {
    width: 20%;
}

#pageproject .horizontal-line.end {
    align-self: flex-end;
}

#pageproject .top-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -10px 30px 0px;
    background-color: transparent;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 70px;
}

#pageproject .middle-container {
    display: flex;
    flex-grow: 1;
}

#pageproject .middle-container .vertical-line {
    background-color: #fff;
    width: 10px;
    height: calc(100% + 10px);
    margin: 00px 10px 0px 75px;
}

#pageproject .vertical-line.half {
    background-color: #fff;
    width: 10px;
    height: 100PX;
    margin: 0PX;
}

#pageproject .middle-container div.vertical-line:last-child {
    margin: -35px 30px 0px 10px;
    height: calc(100% + 45px);
}

#pageproject .middle-container main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
}

#pageproject .middle-container main .main-container {
    /* background-color: red; */
    flex: 1;
}

#pageproject .middle-container main .main-container .concept {
    height: 100%;
    width: 100%;
    display: flex;
}

#pageproject .middle-container main .main-container .concept .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    width: 700px;
}

#pageproject .middle-container main .main-container .concept .left h1 {
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.198;
    text-align: left;
}

#pageproject .middle-container main .main-container .concept .left p {
    font-size: 25px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    margin-top: 40px;
}

#pageproject .middle-container main .main-container .concept .right {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    max-height: 738px;
    max-width: 100%;
    overflow: hidden;
}

#pageproject .middle-container main .main-container .concept .right img {
    max-height: 738px;
    height: auto;
    object-fit: cover;
}

#pageproject .middle-container main .main-container .project {
    height: 100%;
    width: 100%;
    display: flex;
}

#pageproject .middle-container main .main-container .project .left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 600px;
}
#pageproject .middle-container main .main-container .project .right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

#pageproject .middle-container main .main-container .datasheet {
    height: 100%;
    width: 100%;
    display: flex;
}

#pageproject .middle-container main .main-container .datasheet .left {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;

    height: 100%;
    width: 600px;

    padding: 10px;
}

#pageproject .middle-container main .main-container .datasheet .left img{
    max-width: 260px;
}

#pageproject .middle-container main .main-container .datasheet .right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

#pageproject .middle-container main .buttons-container {
    display: flex;
    justify-content: space-evenly;
    width: 45%;
    margin: 10px 0px;
}

#pageproject>.horizontal-line {
    margin: 10px 30px 0px 75px;
    width: auto;
}

#pageproject footer {
    display: flex;
    padding: 20px 20px 30px;
}

#pageproject footer button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: none;
}

#pageproject footer button img {
    margin-right: 20px;
}