#highline-unitys-page {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#highline-unitys-page .top-container {
    display: flex;
    align-items:center;
    flex-direction: row;
    
    margin-top: 30px;
}

#highline-unitys-page .top-container .logo-container {
    width: 300px;
    margin: 0px 30px;
}

#highline-unitys-page .horizontal-line{
    background-color: #fff;
    height: 10px;
    width: 100%;
}

#highline-unitys-page .top-container button{
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: -10px 30px 0px;
    
    background-color: transparent;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 70px;
}

#highline-unitys-page .middle-container {
    display: flex;
    flex-grow: 1;
}

#highline-unitys-page .middle-container .vertical-line{
    background-color: #fff;
    width: 10px;
    height: 100%;
    margin: 20px 10px 0px 75px;
}

#highline-unitys-page .middle-container div.vertical-line:last-child{
    margin: -15px 30px 0px 10px;
    height: calc(100% + 35px);
}

#highline-unitys-page .middle-container main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1775px;
    width: 1775px;
    position: relative;

    margin-top: -20px;
}

#highline-unitys-page .middle-container main .left{
    height: 100%;
    /* width: 600px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
}

#highline-unitys-page .middle-container main .left button {
    margin: 20px;
    width: 300px !important;
}

#highline-unitys-page .middle-container main .right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#highline-unitys-page .middle-container main .right .image-container {
    position: relative;
    height: 780px;
}

#highline-unitys-page .middle-container main .right .image-container img {
    height: 780px;
    max-height: 100%;
    max-width: 1300px;
    object-fit: contain;
}

#highline-unitys-page .middle-container main .right .text-container {
    height: 100%;
    width: 100%;
    color: #fff;

    /* padding-left: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#highline-unitys-page .middle-container main .right .text-container span{
    font-weight: 600;
    font-size: 30px;
}
#highline-unitys-page > .horizontal-line{
    margin: 10px 30px 0px 75px;
    width: auto;
}

#highline-unitys-page footer {
    display: flex;
    padding: 20px 20px 30px;
}

#highline-unitys-page footer button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: none;
}

#highline-unitys-page footer button img {
    margin-right: 20px;
}