#page-ellipse-index {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
}

#page-ellipse-index .side-menu {
    width: 29%;
    display: flex;
    flex-direction: column;
}

/* #page-ellipse-index .side-menu {
    border-right: white 5px solid;
} */

#page-ellipse-index .side-menu .logo-container {
    width: 300px;
    margin: 30px 0 0 30px;
}

#page-ellipse-index .side-menu .button-container {
    padding: 0px 0px 0px 0px;
    margin-top: 100px;
}

#page-ellipse-index .side-menu .footer {
    display: flex;
    margin: auto 0px 0px;
    padding: 0 0 30px 20px;
    z-index: 99;
}

#page-ellipse-index .side-menu .footer button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: none;
}

#page-ellipse-index .side-menu .footer button img {
    margin-right: 20px;
}

#page-ellipse-index .image-container {
    border-left: transparent 5px solid;
    max-width: 71%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    -webkit-animation: teste 1s linear both;
    animation: teste 1s linear both;
}

#page-ellipse-index .image-container img {
    max-height: 100%;
}

@-webkit-keyframes teste {
    0% {
        border-color: transparent;
    }
    100% {
        border-color: white;
    }
}

@keyframes teste {
    0% {
        border-color: transparent;
    }
    100% {
        border-color: white;
    }
}